@tailwind base;
@tailwind components;
@tailwind utilities;

.spinAnimation {
  animation: spin 5s linear infinite; /* Adjust the duration to your preference (e.g., 3s) */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
